<tr>
  <td>
    <input type="checkbox" name="team[]" value="<%= player.id %>">
  </td>
  <td><%= player.web_nick %></td>
  <td><%= player.auth_nick %></td>
  <td>
    <input type="radio" name="sub_captain" value="<%= player.id %>">
  </td>
</tr>
