<%- include('partials/header'); %>
<body>
  <%- include('partials/navbar'); %>

  <main role="main" class="flex-shrink-0">
    <div class="container">
      <h1 class="mt-5">Bienvenido al sitio de la Copa Latina de UrbanTerror</h1>
      <p class="lead">
        En este sitio podrás registrarte como jugador, crear tu equipo una vez
        que los jugadores que lo conforman se encuentren registrados y ver como
        estan conformados los otros equipos participantes.

        Recordá leer las reglas antes de registrarte.
      </p>
    </div>
  </main>
</body>
  <%- include('partials/footer'); -%>
