<!DOCTYPE html>
<html>
  <%- include('partials/header'); -%>
  <body>
    <h1><%= title %></h1>

    <a href="/login">Iniciar sesión</a>
    <a href="/register">Register</a>
    <a href="/team/create">Crear Equipo</a>
  </body>
  <%- include('partials/footer'); -%>
</html>
