<!DOCTYPE html>
<html>
  <%- include('partials/header'); -%>
  <body>
    <h1>Inici치 sesi칩n</h1>

    <form action="/login" method="post">
      <label for="email">Direcci칩n de correo electr칩nico</label>
      <input type="email" name="email" id="email" required>

      <label for="password">Clave</label>
      <input type="password" name="password" id="password" required>

      <input type="submit" value="Enviar">
    </form>
  </body>
  <%- include('partials/footer'); -%>
</html>
