<%- include('partials/header'); %>
<body>
  <%- include('partials/navbar'); %>

  <main role="main" class="flex-shrink-0">
    <div class="container">
      <h1 class="mt-5">Registro de jugador</h1>
      <p class="lead">
        Por favor completá los siguientes datos para registrarte:
      </p>

      <form action="/register" method="post">
        <div class="form-group">
          <label for="web_nick"
            title="Este alias es para uso del sitio y no es requerido">
            Alias
          </label>
          <input type="text" name="web_nick" id="web_nick" class="form-control">
        </div>

        <div class="form-group">
          <label for="auth_nick"
            title="Este es el nick de auth en urbanterror.info">
            Auth nick
          </label>
          <input type="text" name="auth_nick" id="auth_nick" class="form-control" required>
        </div>

        <div class="form-group">
          <label for="discord_nick">Usuario en Discord</label>
          <input type="text" name="discord_nick" id="discord_nick" class="form-control" required>
        </div>

        <div class="form-group">
          <label for="clan_name">Nombre del clan</label>
          <input type="text" name="clan_name" id="clan_name" class="form-control" required>
        </div>

        <div class="form-group">
          <label for="clan_tag">Tag de clan (sin signos, solo letras)</label>
          <input type="text" name="clan_tag" id="clan_tag" maxlength="10" pattern="[A-Za-z0-9]+"
            class="form-control" required>
        </div>

        <div class="form-group">
          <label for="email">Dirección de correo electrónico</label>
          <input type="email" name="email" id="email" class="form-control" aria-describedby="emailHelp" required>
          <small id="emailHelp" class="form-text text-muted">
            Tu dirección de correo es solo para propósitos de registro y recuperación de clave. No será compartida ni abusada.
          </small>
        </div>

        <div class="form-group">
          <label for="password">Clave</label>
          <input type="password" name="password" id="password" class="form-control" required>
        </div>

        <input type="submit" class="btn btn-primary" value="Enviar">
      </form>
    </body>

    </div>
  </main>
</body>
  <%- include('partials/footer'); -%>
