<!DOCTYPE html>
<html>
  <%- include('partials/header'); -%>
  <body>
    <h1>Por favor completá los siguientes datos para registrarte</h1>

    <form action="/register-player" method="post">
      <label for="web_nick"
        title="Este alias es para uso del sitio y no es requerido">
        Alias
      </label>
      <input type="text" name="web_nick" id="web_nick">

      <label for="auth_nick"
        title="Este es el nick de auth en urbanterror.info">
        Auth nick
      </label>
      <input type="text" name="auth_nick" id="auth_nick" required>

      <label for="discord_nick">Usuario en Discord</label>
      <input type="text" name="discord_nick" id="discord_nick" required>

      <label for="clan_name">Nombre del clan</label>
      <input type="text" name="clan_name" id="clan_name" required>

      <label for="clan_tag">Tag de clan (sin signos, solo letras)</label>
      <input type="text" name="clan_tag" id="clan_tag" maxlength="10" pattern="[A-Za-z0-9]+" required>

      <label for="email">Dirección de correo electrónico</label>
      <input type="email" name="email" id="email" required>

      <label for="password">Clave</label>
      <input type="password" name="password" id="password" required>

      <input type="submit" value="Enviar">
    </form>
  </body>
  <%- include('partials/footer'); -%>
  <script src="./js/index.js"></script>
</html>

