<div id="doc" class="markdown-body container-fluid comment-enabled" data-hard-breaks="true"><h1 id="Copa-Latina-UrT-CLU" data-id="Copa-Latina-UrT-CLU"><span>Copa Latina UrT (CLU)</span></h1><h2 id="Reglas-del-torneo-en-modo-TS-Team-Survivor" data-id="Reglas-del-torneo-en-modo-TS-Team-Survivor"><span>Reglas del torneo en modo TS (Team Survivor)</span></h2><ol>
<li>
<p><span>Todo jugador participante manifiesta, mediante su mera participación, haber leído las reglas y estar de acuerdo con las mismas.</span></p>
</li>
<li>
<p><span>No se tolerará insultos, faltas de respeto, racismo, clasismo, sexismo, homofobia, antisemitismo, menosprecio ni boludeces. Se sancionará con entre 5 y 20 frags (dependiendo de la gravedad de la ofensa) menos al equipo del jugador que infrinja esta regla.</span></p>
</li>
<li>
<p><span>Se prohibe el uso de </span><em><span>cheats</span></em><span> en el torneo. El equipo del jugador que use </span><em><span>cheats</span></em><span> será descalificado. Tampoco se permite prestar cuentas. Jugadores sancionados en otras ligas no podrán participar del torneo.</span></p>
</li>
<li>
<p><span>Es ilegal ocultar su IP real de enrutamiento a través de un servidor proxy o cualquier otro medio para enmascarar su dirección IP. Cualquier persona que realice esto será sancionado.</span></p>
</li>
<li>
<p><span>No se permite abusar de bugs de mapa. El jugador que se descubra haciendo uso de éstos será sancionado con entre 3 y 10 frags menos.</span></p>
</li>
<li>
<p><span>Cualquier reclamo deberá ser elevado por el capitán a la administración, añadiendo captura de pantalla cuando fuere necesario. Los reclamos se recibirán dentro de las 48 hs. posteriores al partido.</span></p>
</li>
<li>
<p><span>Todo jugador participante deberá estar anotado con nick de auth de </span><a href="https://www.urbanterror.info/members/register/" target="_blank" rel="noopener"><span>Urban Terror</span></a></p>
</li>
<li>
<p><span>El torneo tendrá dos fases. Durante la primera en cada grupo jugarán todos contra todos y clasificarán dos primeros para pasar a la siguiente fase que será de eliminación directa.</span></p>
</li>
<li>
<p><span>Cada equipo deberá presentar un capitán y un capitán suplente. Cada equipo deberá presentar un mínimo de 5 jugadores y un máximo de 10. Los clanes podrán presentar más de un equipo.</span></p>
</li>
<li>
<p><span>Cada capitán y suplente deberá estar registrado en </span><a href="https://discord.com/" target="_blank" rel="noopener"><span>Discord</span></a><span> e ingresar su nick al registrarse.</span></p>
</li>
<li>
<p><span>Durante el juego solo podrán escribir en el chat los capitanes.</span></p>
</li>
<li>
<p><span>Todo jugador participante deberá grabar demo (obligatorio), inclusive los suplentes.</span></p>
</li>
<li>
<p><span>Cada jugador deberá subir sus demos en el sitio que se indique durante las 24 hs. siguientes al partido. Si no las sube se descontará un punto a su equipo y el jugador no podrá participar en nuevas partidas mientras no haya subido su demo.</span></p>
</li>
<li>
<p><span>El capitán del equipo ganador deberá subir captura de pantalla del resultado en donde se indique.</span></p>
</li>
<li>
<p><span>Se jugarán 2 mapas por fecha. Los mismos serán elegidos por los organizadores previamente.</span></p>
</li>
<li>
<p><span>Se jugarán 2 mapas por partido en semifinal y final. Éstos serán elegidos por los equipos esta vez. De existir empate se jugara un tercer mapa elegido por el ganador de un duelo a cuchillo entre capitanes.</span></p>
</li>
<li>
<p><span>Mapas posibles durante el torneo:</span></p>
<ul>
<li><span>Turnpike</span></li>
<li><span>Casa</span></li>
<li><span>Sanctuary</span></li>
<li><span>Tohunga_b8</span></li>
<li><span>Austria</span></li>
<li><span>Kingdom</span></li>
<li><span>Orbital_sl</span></li>
<li><span>Prague</span></li>
<li><span>Cambridge</span></li>
<li><span>Abbey</span></li>
<li><span>Algiers</span></li>
<li><span>Pent</span></li>
</ul>
</li>
<li>
<p><span>Se jugara de martes a domingo, los horarios serán desde las 21:00 hs. hasta las 00:00 hs. (GMT -3). Las fechas y horarios se elegirán de antemano por los equipos y éstas no se podrán cambiar con posterioridad. Si los equipos no consiguen acordar, los organizadores determinarán la fecha. No se podrá elegir una fecha y hora ya tomadas.</span></p>
</li>
<li>
<p><span>El día del partido los capitanes deberán estar 10 minutos antes en el canal Discord del torneo.</span></p>
</li>
<li>
<p><span>Habrá un tiempo máximo de 10 minutos de espera al equipo que no esté presente o que le falten jugadores (mínimo 4 jugadores). Pasados esos 10 minutos, el equipo infractor perderá por abandono.</span></p>
</li>
<li>
<p><span>Podrá haber hasta 3 cambios dentro de cada mapa previa solicitud de pausa. Cada pausa durará un máximo de 3 minutos.</span></p>
</li>
<li>
<p><span>Se jugará 5 vs 5 y se permitirán hasta 1 sustituto. No pueden haber más jugadores ni espectadores. Los administradores del torneo, determinados en el Anexo 1 [TODO linkear], podrán ingresar como espectadores.</span></p>
</li>
<li>
<p><span>Los jugadores sustitutos solo podrán entrar durante una pausa. En caso de infringir la norma se restará un punto al equipo.</span></p>
</li>
<li>
<p><span>Se le brindará un canal privado a cada equipo en el Discord del torneo.</span></p>
</li>
<li>
<p><span>Queda prohibido el ingreso sin autorización en un canal de voz si ya ha sido tomado antes.</span></p>
</li>
<li>
<p><span>No se permite a los jugadores participar en 2 equipos distintos en ninguna fase del torneo.</span></p>
</li>
<li>
<p><span>No se permite suplantar jugadores. Se sancionará al equipo con la descalificación del mismo.</span></p>
</li>
<li>
<p><span>Cada partido se jugará únicamente en los servidores de GamerZone (GZ - USA) y de Rock 'n Roll (RnR - Argentina). Será posible elegir un servidor para cada mapa para balancer conexiones.</span></p>
</li>
<li>
<p><span>Puntuación (primera fase):</span></p>
<ul>
<li><span>3 puntos al equipo ganador</span></li>
<li><span>1 punto para cada equipo si hay empate</span></li>
<li><span>0 puntos al equipo perdedor o que no se presente</span></li>
</ul>
</li>
<li>
<p><span>Fecha de inscripción a partir del martes 1 de diciembre de 2020.</span></p>
</li>
<li>
<p><span>Fecha de inicio el martes 8 de diciembre de 2020.</span></p>
</li>
</ol><h2 id="Premio" data-id="Premio"><span>Premio</span></h2><p><span>Un server gratis por 2 meses para el clan del equipo ganador.</span></p><h2 id="Temas-pendientes" data-id="Temas-pendientes"><span>Temas pendientes</span></h2><ul>
<li>
<p><span>dónde inscribirse</span></p>
<ul>
<li><span>Plan A: sitios web</span></li>
<li><span>Plan B: pistol sabe (un sitio llamado tournament sarasa)</span></li>
<li><span>Plan C: discord</span></li>
</ul>
</li>
<li>
<p><span>dónde irán las reglas</span></p>
<ul>
<li><span>Sitio web y Discord</span></li>
</ul>
</li>
<li>
<p><span>dónde van las demos</span></p>
<ul>
<li><span>Plan A: sitio web</span></li>
<li><span>Plan B: discord</span></li>
</ul>
</li>
<li>
<p><span>cómo armamos el fixture?</span></p>
<ul>
<li><span>Lo vemos al tener los equipos registrados. Una posible herramienta </span><a href="https://challonge.com/dashboard.html" target="_blank" rel="noopener"><span>challonge</span></a><span>.</span></li>
</ul>
</li>
</ul><h2 id="Requisitos" data-id="Requisitos"><span>Requisitos</span></h2><p><span>Estos serán los requisitos de inscripción para plasmar en la aplicación de registros, no es necesario que estén estipulados en las reglas, pero los dejamos acá para referencia interna. (Presentar solo la parte de las reglas a los jugadores).</span></p><ol>
<li>
<p><span>Inscripción de jugadores</span></p>
<ul>
<li><span>web nick</span></li>
<li><span>email</span></li>
<li><span>password</span></li>
<li><span>clan</span></li>
<li><span>auth nick (</span><a href="http://urbanterror.info" target="_blank" rel="noopener"><span>urbanterror.info</span></a><span>)</span></li>
<li><span>discord nick</span></li>
</ul>
</li>
<li>
<p><span>Inscripción de equipo</span></p>
<ul>
<li><span>nombre del equipo</span></li>
<li><span>tag</span></li>
<li><span>capitán</span></li>
<li><span>capitán suplente</span></li>
<li><span>jugadores</span></li>
<li><span>email de capitán y suplente</span></li>
</ul>
</li>
</ol></div>